$lobster: bisque;
$red:red;


body {
	background-color: $lobster;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}


.main-container {
	
}

@mixin border-radius($radius) {
 -webkit-border-radius:  $radius;
	-moz-border-radius:  $radius;
	 -ms-border-radius:  $radius;
		 border-radius:  $radius;
}

.search-bar-spacing {
	margin-bottom: 20px;
}

